{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex h-screen">
        {% include 'components/sidebar.html.twig' %}
        <div class="flex flex-col flex-grow px-6 pt-6">
            {% include 'components/topbar.html.twig' %}
            <main class="flex-grow overflow-hidden py-6">
                <div class="flex bg-white h-full rounded-2xl border">
                    {% for column, tasks in groupedTasks %}
                        <div class="flex-1 flex flex-col min-w-0 p-4 pb-0 {% if column == 'In progress' %}border-l-8 border-r-8 border-gray-50{% endif %}">
                            <h2 class="text-2xl font-semibold mb-4 text-center opacity-70">{{ column }}</h2>
                            <div class="scrollable-column overflow-y-auto flex-grow px-2">
                                <div class="space-y-8">
                                    {% for task in tasks %}
                                        <div class="bg-beige p-4 m-4 mx-auto rounded-2xl shadow-md task-card cursor-pointer h-[120px] flex flex-col justify-between"
                                             data-task-id="{{ task.id }}"
                                             data-task-title="{{ task.nomTache }}"
                                             data-task-description="{{ task.descriptionTache }}"
                                             data-task-date_debut="{{ task.DateDebut|date('d/m/Y') }}"
                                             data-task-date_echeance="{{ task.DateEcheance|date('d/m/Y') }}"
                                             data-task-status="{{ task.status }}"
                                             data-task-users="{{ task.users|json_encode|e('html_attr') }}">
                                            <div>
                                                <h3 class="font-semibold text-sm mb-2">{{ task.nomTache }}</h3>
                                                <p class="text-sm text-gray-600 line-clamp-2 h-[40px]">
                                                    {{ task.descriptionTache }}
                                                </p>
                                            </div>
                                            <div class="text-right">
                                                <button class="text-gray-400 hover:text-gray-600 delete-task-btn">•••</button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </main>
        </div>
    </div>

    <!-- Floating Button -->
    <button id="openModalBtn" class="fixed bottom-8 right-8 bg-primary border border-black text-black font-medium py-2.5 px-5 rounded-full shadow-lg">
        New Task
    </button>

    <!-- Modal -->
    <!-- Modal -->
    <div id="newTaskModal" class="hidden fixed inset-0 bg-beige bg-opacity-50 overflow-y-auto h-full w-full">
        <div class="relative top-20 mx-auto p-5 border w-6/12 shadow-lg rounded-2xl bg-beige border-black max-h-[90vh] flex flex-col">
            <div class="overflow-y-auto flex-grow custom-scrollbar">
                <div class="mt-4">
                    <h3 class="text-xl font-medium text-black text-center">Create a new Task</h3>
                    {{ form_start(taskForm, {'attr': {'id': 'taskForm'}}) }}
                    <div class="mt-3 px-7 py-3">
                        <div class="mb-6">
                            {{ form_label(taskForm.nom_tache, 'Name', {'label_attr': {'class': 'font-medium block text-left mb-2 ml-2'}}) }}
                            {{ form_widget(taskForm.nom_tache, {'attr': {'class': 'flex w-full h-14 rounded-full border shadow-sm border-black pl-4'}}) }}
                        </div>
                        <div class="mb-6">
                            {{ form_label(taskForm.description_tache, 'Description', {'label_attr': {'class': 'font-medium block text-left mb-2 ml-2'}}) }}
                            {{ form_widget(taskForm.description_tache, {'attr': {'class': 'flex h-32 w-full rounded-2xl border shadow-sm border-black p-2 pl-4'}}) }}
                        </div>
                        <div class="flex flex-row space-x-4">
                            <div class="mb-6 flex-1">
                                {{ form_label(taskForm.date_debut, 'Start Date', {'label_attr': {'class': 'font-medium block text-left mb-2 ml-2'}}) }}
                                {{ form_widget(taskForm.date_debut, {'attr': {'class': 'flex w-full h-14 rounded-full border shadow-sm border-black text-center pl-16'}}) }}
                            </div>
                            <div class="mb-6 flex-1">
                                {{ form_label(taskForm.date_echeance, 'End Date', {'label_attr': {'class': 'font-medium block text-left mb-2 ml-2'}}) }}
                                {{ form_widget(taskForm.date_echeance, {'attr': {'class': 'flex w-full h-14 rounded-full border shadow-sm border-black text-center pl-16'}}) }}
                            </div>
                        </div>
                        <div class="mb-6">
                            {{ form_label(taskForm.user, 'Assign Users', {'label_attr': {'class': 'font-medium block text-left mb-2 ml-2'}}) }}
                            <input type="text" id="userSearch" class="w-full h-10 px-3 mb-2 text-base placeholder-gray-600 border rounded-lg focus:shadow-outline" placeholder="Search users...">
                            <div id="userList" class="border border-gray-300 rounded-lg p-3 max-h-60 overflow-y-auto">
                                {% for user in taskForm.user %}
                                    <div class="flex items-center mb-2 user-item">
                                        {{ form_widget(user, {'attr': {'class': 'mr-2'}}) }}
                                        {{ form_label(user, null, {'label_attr': {'class': 'text-sm'}}) }}
                                    </div>
                                {% endfor %}
                            </div>
                            <p id="selectedCount" class="mt-2 text-sm text-gray-600">0 users selected</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 text-center">
                <button type="submit" id="submitTaskBtn" class="bg-primary border border-black text-black font-medium py-2.5 px-5 rounded-full">
                    Create Task
                </button>
            </div>
            {{ form_end(taskForm) }}
        </div>
    </div>

    <div id="taskDetailsModal" class="hidden fixed inset-0 bg-beige bg-opacity-50 overflow-y-auto h-full w-full">
        <div class="relative top-20 mx-auto py-5 px-16 border w-6/12 shadow-lg rounded-2xl bg-beige border-black">
            <div class="mt-4">
                <h1 id="taskTitle" class="text-2xl font-semibold mb-3 opacity-60"></h1>
                <div class="flex flex-row gap-16">
                    <div class="flex flex-row gap-1 mb-8">
                        <p class="text-gray-700 text-sm">Start Date : </p>
                        <p id="taskDateDebut" class="text-gray-700 text-sm"></p>
                    </div>
                    <div class="flex flex-row gap-1">
                        <p class="text-gray-700 text-sm">End Date : </p>
                        <p id="taskDateEcheance" class="text-gray-700 text-sm"></p>
                    </div>
                    <div class="flex flex-row gap-1 mb-8">
                        <p class="text-gray-700 text-sm">Status : </p>
                        <p id="taskStatus" class="text-sm text-gray-700"></p>
                    </div>
                </div>
                <div class="flex flex-col">
                    <h3 class="text-lg text-gray-600 font-medium mb-2">Description</h3>
                    <p id="taskDescription" class="text-md text-justify text-gray-700"></p>
                </div>
                <div class="flex flex-col mt-8">
                    <h3 class="text-lg text-gray-600 font-medium mb-4">Assigned user(s)</h3>
                    <div id="taskUsers" class="flex flex-row gap-6">
                        <!-- Users will be dynamically inserted here -->
                    </div>
                </div>
            </div>
            <div class="mt-12 text-right mb-4">
                <button id="openEditModal" class="bg-primary border border-black text-black font-medium py-2.5 px-5 rounded-full">
                    Edit Task
                </button>
            </div>
        </div>
    </div>

    <div id="editTaskModal" class="hidden fixed inset-0 bg-beige bg-opacity-50 overflow-y-auto h-full w-full">
        <div class="relative top-20 mx-auto p-5 border w-6/12 shadow-lg rounded-2xl bg-beige border-black max-h-[90vh] flex flex-col">
            <div class="overflow-y-auto flex-grow custom-scrollbar">
                <div class="mt-4">
                    <h3 class="text-xl font-medium text-black text-center">Edit Task</h3>
                    <form id="editTaskForm">
                        <input type="hidden" id="editTaskId" name="taskId">
                        <div class="mt-3 px-7 py-3">
                            <div class="mb-6">
                                <label for="editNomTache" class="font-medium block text-left mb-2 ml-2">Name</label>
                                <input type="text" id="editNomTache" name="nom_tache" class="flex w-full h-14 rounded-full border shadow-sm border-black pl-4">
                            </div>
                            <div class="mb-6">
                                <label for="editDescriptionTache" class="font-medium block text-left mb-2 ml-2">Description</label>
                                <textarea id="editDescriptionTache" name="description_tache" class="flex h-32 w-full rounded-2xl border shadow-sm border-black p-2 pl-4"></textarea>
                            </div>
                            <div class="flex flex-row space-x-4">
                                <div class="mb-6 flex-1">
                                    <label for="editDateDebut" class="font-medium block text-left mb-2 ml-2">Start Date</label>
                                    <input type="date" id="editDateDebut" name="date_debut" class="flex w-full h-14 rounded-full border shadow-sm border-black text-center">
                                </div>
                                <div class="mb-6 flex-1">
                                    <label for="editDateEcheance" class="font-medium block text-left mb-2 ml-2">End Date</label>
                                    <input type="date" id="editDateEcheance" name="date_echeance" class="flex w-full h-14 rounded-full border shadow-sm border-black text-center">
                                </div>
                            </div>
                            <div class="mb-6">
                                <label for="editStatus" class="font-medium block text-left mb-2 ml-2">Status</label>
                                <select id="editStatus" name="status" class="flex w-full h-14 rounded-full border shadow-sm border-black pl-4">
                                    <option value="To do">To do</option>
                                    <option value="In progress">In progress</option>
                                    <option value="Done">Done</option>
                                </select>
                            </div>
                            <!-- Ajoutez ici les champs pour la sélection des utilisateurs si nécessaire -->
                        </div>
                        <div class="mt-4 text-center">
                            <button type="submit" class="bg-primary border border-black text-black font-medium py-2.5 px-5 rounded-full">
                                Update Task
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteConfirmModal" class="hidden fixed inset-0 bg-beige bg-opacity-50 overflow-y-auto h-full w-full">
        <div class="relative top-20 mx-auto py-5 px-16 border w-6/12 shadow-lg rounded-2xl bg-beige border-black">
            <div class="mt-4">
                <h2 class="text-xl font-bold mb-4 text-center">Confirm Deletion</h2>
                <p class="text-lg text-gray-700 text-center">Are you sure you want to delete this task?</p>
            </div>
            <div class="mt-6 text-center space-x-4">
                <button id="confirmDeleteBtn" class="bg-red-500 text-white font-medium py-2.5 px-5 rounded-full">
                    Delete
                </button>
                <button id="cancelDeleteBtn" class="bg-gray-300 text-black font-medium py-2.5 px-5 rounded-full">
                    Cancel
                </button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const newTaskModal = document.getElementById('newTaskModal');
            const taskDetailsModal = document.getElementById('taskDetailsModal');
            const deleteConfirmModal = document.getElementById('deleteConfirmModal');
            const openModalBtn = document.getElementById('openModalBtn');
            const taskForm = document.getElementById('taskForm');
            const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
            const cancelDeleteBtn = document.getElementById('cancelDeleteBtn');

            let currentTaskId = null;

            const editTaskModal = document.getElementById('editTaskModal');
            const openEditModalBtn = document.getElementById('openEditModal');
            const editTaskForm = document.getElementById('editTaskForm');

            openEditModalBtn.onclick = function() {
                taskDetailsModal.style.display = "none";
                editTaskModal.style.display = "block";
                fillEditForm();
            }

            function fillEditForm() {
                const taskCard = document.querySelector(`.task-card[data-task-id="${currentTaskId}"]`);
                if (taskCard) {
                    document.getElementById('editTaskId').value = currentTaskId;
                    document.getElementById('editNomTache').value = taskCard.getAttribute('data-task-title');
                    document.getElementById('editDescriptionTache').value = taskCard.getAttribute('data-task-description');
                    document.getElementById('editDateDebut').value = formatDateForInput(taskCard.getAttribute('data-task-date_debut'));
                    document.getElementById('editDateEcheance').value = formatDateForInput(taskCard.getAttribute('data-task-date_echeance'));
                    document.getElementById('editStatus').value = taskCard.getAttribute('data-task-status');
                }
            }

            function formatDateForInput(dateString) {
                const [day, month, year] = dateString.split('/');
                return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;
            }

            editTaskForm.onsubmit = function(e) {
                e.preventDefault();
                const formData = new FormData(editTaskForm);
                const data = Object.fromEntries(formData.entries());

                axios.post(`/tasks/${currentTaskId}/edit`, data, {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                    .then(function (response) {
                        console.log('Task updated successfully');
                        editTaskModal.style.display = "none";
                        location.reload(); // Refresh the page to show updated task
                    })
                    .catch(function (error) {
                        console.error('Error updating task:', error);
                        // Ajouter ici un message d'erreur pour l'utilisateur
                    });
            }

            openModalBtn.onclick = function() {
                newTaskModal.style.display = "block";
            }

            window.onclick = function(event) {
                if (event.target == editTaskModal) {
                    editTaskModal.style.display = "none";
                }
                if (event.target == newTaskModal) {
                    newTaskModal.style.display = "none";
                }
                if (event.target == taskDetailsModal) {
                    taskDetailsModal.style.display = "none";
                }
                if (event.target == deleteConfirmModal) {
                    deleteConfirmModal.style.display = "none";
                }
            }

            cancelDeleteBtn.onclick = function() {
                deleteConfirmModal.style.display = "none";
            }

            document.querySelectorAll('.task-card').forEach(card => {
                card.addEventListener('click', function(e) {
                    if (!e.target.classList.contains('delete-task-btn')) {
                        currentTaskId = this.getAttribute('data-task-id');
                        const title = this.getAttribute('data-task-title');
                        const description = this.getAttribute('data-task-description');
                        const date_debut = this.getAttribute('data-task-date_debut');
                        const date_echeance = this.getAttribute('data-task-date_echeance');
                        const status = this.getAttribute('data-task-status');
                        const users = JSON.parse(this.getAttribute('data-task-users'));

                        document.getElementById('taskTitle').textContent = title;
                        document.getElementById('taskDescription').textContent = description;
                        document.getElementById('taskDateDebut').textContent = date_debut;
                        document.getElementById('taskDateEcheance').textContent = date_echeance;
                        document.getElementById('taskStatus').textContent = status;

                        const usersContainer = document.getElementById('taskUsers');
                        usersContainer.innerHTML = ''; // Clear previous users
                        users.forEach(user => {
                            const userElement = document.createElement('div');
                            userElement.className = 'flex flex-row w-max rounded-full border border-black bg-white pl-2 pr-4 py-1.5';
                            userElement.innerHTML = `
                        <div class="rounded-full h-5 w-5 border border-black bg-yellow-300"></div>
                        <p class="mx-2 text-sm">${user.username}</p>
                    `;
                            usersContainer.appendChild(userElement);
                        });

                        taskDetailsModal.style.display = "block";
                    }
                });
            });

            document.querySelectorAll('.delete-task-btn').forEach(btn => {
                btn.addEventListener('click', function(e) {
                    e.stopPropagation(); // Prevent task details modal from opening
                    currentTaskId = this.closest('.task-card').getAttribute('data-task-id');
                    deleteConfirmModal.style.display = "block";
                });
            });

            confirmDeleteBtn.onclick = function() {
                if (currentTaskId) {
                    axios.delete(`/tasks/${currentTaskId}`)
                        .then(function (response) {
                            console.log('Task deleted successfully');
                            deleteConfirmModal.style.display = "none";
                            location.reload(); // Refresh the page to show updated task list
                        })
                        .catch(function (error) {
                            console.error('Error deleting task:', error);
                        });
                }
            }

            taskForm.onsubmit = function(e) {
                e.preventDefault();
                const formData = new FormData(taskForm);

                axios.post('{{ path('app_task_new') }}', formData)
                    .then(function (response) {
                        console.log(response.data);
                        newTaskModal.style.display = "none";
                        location.reload();
                    })
                    .catch(function (error) {
                        console.error('Error:', error);
                    });
            }
        });
        document.addEventListener('DOMContentLoaded', function() {
            const userSearch = document.getElementById('userSearch');
            const userList = document.getElementById('userList');
            const userItems = userList.querySelectorAll('.user-item');
            const selectedCount = document.getElementById('selectedCount');
            const checkboxes = userList.querySelectorAll('input[type="checkbox"]');

            // Hide all user items initially
            userItems.forEach(item => {
                item.style.display = 'none';
            });

            userSearch.addEventListener('input', function() {
                const searchTerm = this.value.toLowerCase();

                if (searchTerm.length > 0) {
                    userItems.forEach(item => {
                        const userName = item.textContent.toLowerCase();
                        item.style.display = userName.includes(searchTerm) ? 'block' : 'none';
                    });
                } else {
                    // Hide all items when search bar is empty
                    userItems.forEach(item => {
                        item.style.display = 'none';
                    });
                }
            });

            function updateSelectedCount() {
                const count = Array.from(checkboxes).filter(cb => cb.checked).length;
                selectedCount.textContent = `${count} users selected`;
            }

            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', updateSelectedCount);
            });

            updateSelectedCount(); // Initial count
        });
    </script>
{% endblock %}